body {
    background: rgb(238, 189, 189);
    color:rgb(255, 255, 255);
    font-family: "Lora", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(126, 21, 21);
    padding: 20px;
    font-size: 32px;
    color: rgb(126, 21, 21);
}

.chamada {
        background: rgb(211, 134, 134);
        padding-bottom: 90px;
        padding-top: 90px;
        display: flex;
        justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p {
    font-size: 20px;
}

.categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

img {
    height: 200px;
}

.categoria-vídeos img{
    opacity: 0.5;
}

.categoria-vídeos img:hover {
    opacity: 1.0;
    border: 5px solid rgb(138, 17, 37)
}

.categoria h2{
    color: rgb(97, 19, 19)
}